#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_TagCoind += debian/examples/*
DEB_INSTALL_MANPAGES_TagCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix TagCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f TagCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake TagCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/TagCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/TagCoind
binary-post-install/TagCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/TagCoin-qt
